@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=The+Girl+Next+Door&display=swap');
	#header{
		font-family: 'Bangers', cursive;
		font-size: 55px;
		text-align: center;
		color: red;
		padding: 2px 20px 2px 20px;
	}
	.welcome{
		font-family: 'The Girl Next Door', cursive;
		font-size: 32px;
		color: red;
	}
	#linkToTemplates{
		color: red;
	}
	#linkToTemplates:visited{
		color: red;
	}
	#linkToTemplates:hover{
		text-shadow: 1px 1px #737a75;
	}